<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.karcook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".ViewPresenter.SplashPage.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPresenter.SecondActivity.SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPresenter.CourseDetailPage.CourseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPresenter.PlayVideoPage.PlayVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/playVideoTheme" />
        <activity
            android:name=".ViewPresenter.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPresenter.QuestationPage.QuestionActivity"
            android:screenOrientation="portrait" />


        <service
            android:name=".FCM.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>